{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Pizza</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "img/logo.png" %}" alt="logo" width="150"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% if aktif == 'pizza' %}
              <a class="nav-link " aria-current="page" href="{% url 'index' %}">All Menu</a>
              <a class="nav-link active" aria-current="page" href="{% url 'categori' "pizza" %}">Pizza</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "pasta" %}">Pasta</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "nasi" %}">Nasi</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "minuman" %}">Minuman</a>
              {% elif aktif == 'pasta' %}
              <a class="nav-link " aria-current="page" href="{% url 'index' %}">All Menu</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "pizza" %}">Pizza</a>
              <a class="nav-link active" aria-current="page" href="{% url 'categori' "pasta" %}">Pasta</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "nasi" %}">Nasi</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "minuman" %}">Minuman</a>
              {% elif aktif == 'nasi' %}
              <a class="nav-link " aria-current="page" href="{% url 'index' %}">All Menu</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "pizza" %}">Pizza</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "pasta" %}">Pasta</a>
              <a class="nav-link active" aria-current="page" href="{% url 'categori' "nasi" %}">Nasi</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "minuman" %}">Minuman</a>
              {% elif aktif == 'minuman' %}
              <a class="nav-link " aria-current="page" href="{% url 'index' %}">All Menu</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "pizza" %}">Pizza</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "pasta" %}">Pasta</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "nasi" %}">Nasi</a>
              <a class="nav-link active" aria-current="page" href="{% url 'categori' "minuman" %}">Minuman</a>
              {% else %}
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">All Menu</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "pizza" %}">Pizza</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "pasta" %}">Pasta</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "nasi" %}">Nasi</a>
              <a class="nav-link " aria-current="page" href="{% url 'categori' "minuman" %}">Minuman</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
        
        <div class="row">
            
            <div class="col-xs- col-sm- col-md- col-lg-">
                {% if aktif is Null %}
                <h1>ALL MENU</h1>
                {% else %}
                <h1>{{aktif.upper}}</h1>
                {% endif %}
            </div>
        </div>
        
        <div class="row">
            {% for i in data %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="static/img/{{i.gambar}}" class="card-img-top" alt="{{i.gambar}}">
                    <div class="card-body">
                      <h5 class="card-title">{{i.kategori}}</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <h5 class="card-title">Rp. {{i.harga}}</h5>
                      <a href="#" class="btn btn-primary">Pesan Sekarang</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
        
          
      </div>
      

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>