{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie House</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">MOVIE HOME</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link " aria-current="page" href="#">Search Movie</a>
              </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <form action="{% url 'search' %}" method="post">
          {% csrf_token %}  
        <div class="row justify-content-center">
                <div class="col-md-4">
                    <h1 class="text-center">Search Movie</h1>
                    <div class="input-group mb-3">
                        <input type="text" name="title" class="form-control" placeholder="Movie Title">
                        <button type="submit" class="btn btn-outline-secondary">Search</button>
                    </div>
                </div>
            </div>
        </form>
        
        {% if messages %}
        <ul class="messages text-center">
            {% for message in messages %}
            <h1 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
            {% endfor %}
        </ul>
        {% endif %}
        
        <div class="row">
          {% for i in data %}
            <div class="col-md-4 pb-md-3">
              <div class="card" style="width: 20rem;">
                <img src="{{i.Poster}}" class="card-img-bottom" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Title: {{i.Title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Tahun: {{i.Year}}</h6>
                  <a href="{{i.Poster}}" class="card-link">See Details</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>          
      </div>
      

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>